.content_home{
    background-color: seashell;
    padding-top: 10%;
    display: grid;
    text-align: center;
}


.to_category :hover{
    color: palevioletred;
}

/*phone*/
@media screen and (max-width: 720px){
    .content_home{
        grid-template-columns: 100%;
        grid-template-rows: 50em 50em 50em;
    }

}

/*web*/
@media screen and (min-width: 720px){
    .content_home{
        grid-template-rows: 50em 50em 50em;
    }
}